/* Moto G4 Galaxy S5 */
@media screen and (width: 360px) and (height: 640px) {
    body
    {
      max-width: 360px;
      max-height: 640px;
      background-color: greenyellow;
    }
    nav
    {
      max-width: 360px;
    }
    h3
  {
     margin-top: 20px;
     font-size: 16px;
     text-align: center;
  }
  form
  {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  .row
  {
    align-items: center; 
  justify-content: center;
  }
  footer
  {
    height: 50px;      /*  ВОПРОС */
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
  }
  button
  {
    margin-left: 5px;
  }
  .card-body
  {
  
    width: 240px;
  }
  .container-fluid
  {
    height: 120px;
  }
  img
  {
    width: 100px;
    height: 85px;
  }
  }



/* Pixel 2  */



  @media screen and (width: 411px) and (height: 731px) {
    body
    {
      max-width: 411px;
      max-height: 731px;
      background-color: salmon;
    }
    nav
    {
      max-width: 411px;
    }
    h3
  {
     margin-top: 20px;
     font-size: 16px;
     text-align: center;
  }
  form
  {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  .row
  {
    align-items: center; 
  justify-content: center;
  }
  footer
  {
    height: 50px;      /*  ВОПРОС */
      position: fixed;
      left: 0; bottom: 0;
      width: 100%;
  }
  button
  {
    margin-left: 5px;
  }
  .card-body
  {
    width: 260px;
  }
  .container-fluid
  {
    height: 150px;
  }
  img
  {
    width: 120px;
    height: 105px;
  }
  }



   /* Pixel 2 XL */
   @media screen and (width: 411px) and (height: 823px) {
    body
    {
      max-width: 411px;
      max-height: 823px;
      background-color: teal;
    }
    nav
    {
      max-width: 411px;
    }
    h3
  {
     margin-top: 20px;
     font-size: 16px;
     text-align: center;
  }
  form
  {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  .row
  {
    align-items: center; 
  justify-content: center;
  }
  footer
  {
    height: 50px;      /*  ВОПРОС */
      position: fixed;
    left: 0; bottom: 0;
    width: 100%;
  }
  button
  {
    margin-left: 5px;
  }
  .card-body
  {
    width: 180px;
  }
  .container-fluid
  {
    height: 150px;
  }
  img
  {
    width: 100px;
    height: 100px;
  }
  }


  /* iPhone 5SE */

  @media screen and (width: 320px) and (height: 568px) {
    body
    {
      max-width: 320px;
      max-height: 568px;
      background-color: burlywood;
    }
    nav
    {
      max-width: 320px;
    }
    h3
  {
     margin-top: 20px;
     font-size: 16px;
     text-align: center;
  }
  form
  {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  .row
  {
    align-items: center; 
  justify-content: center;
  }
  footer
  {
    height: 50px;      /*  ВОПРОС */
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
  }
  button
  {
    margin-left: 5px;
  }
  .card-body
  {
    width: 180px;
  }
  .container-fluid
  {
    height: 150px;
  }
  img
  {
    width: 100px;
    height: 100px;
  }
  }









  /* iPhone 5SE */

  @media screen and (width: 375px) and (height: 667px) {
    body
    {
      max-width: 375px;
      max-height: 667px;
      background-color: darkgoldenrod;
    }
    nav
    {
      max-width: 375px;
    }
    h3
  {
     margin-top: 20px;
     font-size: 16px;
     text-align: center;
  }
  form
  {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  .row
  {
    align-items: center; 
  justify-content: center;
  }
  footer
  {
    height: 50px;      /*  ВОПРОС */
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
  }
  button
  {
    margin-left: 5px;
  }
  .card-body
  {
    width: 200px;
  }
  .container-fluid
  {
    height: 140px;
  }
  img
  {
    width: 120px;
    height: 100px;
  }
  }

 