@media (max-width: 1920px)
{
form
{
    height: auto;
    width: auto;
}
h3
{
    color: gold;
 font-size:40px;
}
.card-body
{
    width: 800px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 22px;
}
h5
{
    font-size: 25px;
}
p
{
    font-size: 22px;
}

}





@media (max-width: 1600px)
{
    form
{
    height: auto;
    width: auto;
}
h3
{
    color:greenyellow;
 font-size:50px;
}
.card-body
{
    width: 800px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 25px;
}
p
{
    font-size: 22px;
}

}





@media (max-width: 1366px)
{
    form
{
    height: auto;
    width: auto;
}
h3
{
    color:red;
 font-size:35px;
}
.card-body
{
    width: 800px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 25px;
}
p
{
    font-size: 22px;
}

}




@media (max-width: 1024px)
{
    form
{
    height: auto;
    width: auto;
}
h3
{
    color:brown;
 font-size:35px;
}
.card-body
{
    width: 550px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 25px;
}
p
{
    font-size: 22px;
}
h4
{
    font-size:21px;
}
}

@media (max-width: 800px)
{
    form
{
    height: auto;
    width: auto;
}
h3
{
    color:blue;
 font-size:28px;
}
.card-body
{
    width: 450px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 25px;
}
p
{
    font-size: 22px;
}

}

@media (max-width: 540px)
{
form
{
    height: auto;
    width: auto;
}
h3
{
    color:green;
 font-size:25px;
}
.card-body
{
    width: 300px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 25px;
}
p
{
    font-size: 22px;
}

h1
{
    font-size:22px;
}
}


@media (max-width: 480px)
{
form
{
    height: auto;
    width: auto;
}
h3
{
    color:green;
    font-size:25px;
}
.card-body
{
    width: 240px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 20px;
}
p
{
    font-size: 22px;
}
h1
{
    font-size:22px;
}
}


@media (max-width: 375px)
{
    form
{
    height: auto;
    width: auto;
}
h3
{
    color:green;
 font-size:20px;
}
.card-body
{
    width: 200px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 20px;
}
p
{
    font-size: 18px;
}


}


@media (max-width: 320px)
{
    form
{
    height: auto;
    width: auto;
}
h3
{
    color:green;
 font-size:20px;
}
.card-body
{
    width: 180px;
}
img
{
    width: 100%;
    height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 25px;
}
p
{
    font-size: 18px;
}


}



@media (max-width: 280px)
{
    form
{
    height: auto;
    width: auto;
}
h3
{
    color:green;
 font-size:20px;
}
.card-body
{
    width: 160px;
}
img
{
  width:  100%;
   height: 100%;
}
a
{
    font-size: 25px;
}
h5
{
    font-size: 20px;
}
p
{
    font-size: 16px;
}

h1
{
    font-size:20px
}
}